<?xml version="1.0" encoding="utf-8"?>
<data>
    <lang>
        <en>lang/en.js</en>
        <zh>lang/zh.js</zh>
    </lang>
    <textFile>css/core.css;css/theme.css</textFile>
    <images>
        <img src="images/loading.gif" />
    </images>
    <views confirmViewId="confirmView" notifyViewId="notificationView">
        <view id="loadingView">html/loadingView.html</view>
        <view id="loginView">html/loginView.html</view>
        <view id="homeView">html/homeView.html</view>
        <view id="announceView">html/announceView.html</view>
        <view id="confirmView">html/confirmView.html</view>
        <view id="notificationView">html/notificationView.html</view>
    </views>
    <pages mode="web" defualtPageAlias="login">
        <page alias="login" name="LoginPage" />
        <page alias="home" name="HomePage" >
            <page alias="annouce" name="AnnouncePage" />
        </page>
        <page alias="aa" name="aaaaa" />
        <page alias="bbbb" name="bbb" />
    </pages>
</data>