<?xml version="1.0" encoding="utf-8"?>
<data>
    <lang>
        <en>lang/en.js</en>
        <zh>lang/zh.js</zh>
    </lang>
    <textFile>css/core.css;css/iwebapp-ui.css;css/theme.css</textFile>
    <images>
        <img src="images/loading.gif" />
    </images>
    <views confirmViewId="confirmView" notifyViewId="notificationView" alertViewId="alertView">
        <view id="loadingView">html/loadingView.html</view>
        <view id="loginView">html/loginView.html</view>
        <view id="homeView">html/homeView.html</view>
        <view id="announceView">html/announceView.html</view>
        <view id="annouceChildView">html/annouce_child.html</view>
        <view id="confirmView">html/confirmView.html</view>
        <view id="notificationView">html/notificationView.html</view>
        <view id="alertView">html/alertView.html</view>
    </views>
    <pages  defualtPageAlias="login">
        <page alias="login" name="LoginPage" />
        <page alias="home" name="HomePage" >
            <page alias="annouce" name="AnnouncePage" >
                <page alias="detail" name="AnnounceChildPage" />

            </page>
        </page>
    </pages>
</data>