/* CSS Document */
/*touch event style*/

* {


    /* this will work for QtWebKit in future */
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout:none;
    user-select:none;
    -webkit-appearance: none;
}

input, button, select, textarea, a {
    outline: none;
}

input,textarea {

    -webkit-user-modify: read-write-plaintext-only;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select:text;

}

.touch {
}

.touchable {
}

.selected {
}

div#preload {
    height: 1px;
    width: 1px;
    display: none;
}

div#preload img {
    margin-top: -999px;
    margin-left: -999px;
    width: 1px;
    height: 1px;
}

.pageContainer {
    height: 100%;
    float: left;
}

.popup {
    float: left;
    left: 0;
    top: 0;
}

.page, .popup ,.dialog {
    position: absolute;
    height: 100%;
    width: 100%;
    visibility:visible;
    overflow: hidden;
}

.dialog{
    z-index: 10000;
    display: table;
}

.dialogWrapper{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    background: rgba(0,0,0,0.5);

}

.dialogContent{
    margin: auto;
}


.notify{
    position: absolute;
    z-index: 20000;
}


.pausePage{
    visibility:hidden;
}

.outTxt {
    position: absolute;
    width: 100%;
    height: 20%;
    z-index: 9999;
    min-height: 200px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    border: solid 1px #cccccc;
    bottom: 0;
    overflow: auto;
}


*{margin: 0; padding: 0;}

