/*Basic css of slider*/
.ui-slider {
    display: block;
    position: relative;
    cursor: pointer;

}

/*If the slider has one or more labels, then it need put the labels to a container.*/
.ui-slider-wrapper {
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
}

/*default label of slider*/
.ui-slider-labels {
    overflow: hidden;
    height: 100%;
    position: relative;

}

/* the active label*/
.ui-slider-active {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: -8px;
}

/*the off label*/
.ui-slider-down {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

/*the slug of slider*/
.ui-slider-slug {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

/*chrome has a bug about border-radius, we have to fix it with two block mask it*/
.ui-slider-rd-r, .ui-slider-rd-l {

    width: 10px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    margin: 0;
}

.ui-slider-rd-r {
    border-radius: 0px 8px 8px 0px;
}

.ui-slider-rd-l {
    border-radius: 8px 0px 0px 8px;
}

/*Basic css of slider and switch done.*/

/*Checkbox */
.ui-checkbox {
    position: relative;
    /*display: block;*/
}

.ui-checkbox .ui-icon, .ui-radio .ui-icon {
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
}

.ui-checkbox .ui-icon {
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.ui-checkbox .ui-icon-tick {
    border: 3px solid #000000;
    border-top: none;
    border-right: none;
    width: 55%;
    height: 25%;
    display: inline-block;
    -webkit-transform: rotate3D(0,0,1,-45deg) ;


    position: absolute;
    top: 25%;
    left: 20%;

    visibility: hidden;
}



.ui-checkbox[class~="selected"] .ui-icon-tick {
    visibility: visible;
    opacity: 1;
}

.ui-checkbox[class~="tap"] .ui-icon-tick {
    visibility: visible;
    opacity: 0.5;
}

.ui-radio {
    position: relative;

    /*display: block;*/
}

.ui-radio .ui-icon-tick {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    position: absolute;
    visibility: hidden;
    background: #000000;
    display: block;

}

.ui-radio[class~="selected"] .ui-icon-tick {
    visibility: visible;
    opacity: 1;
}

.ui-radio[class~="tap"] .ui-icon-tick {
    visibility: visible;
    opacity: 0.5;
}

.ui-button {
    background: #333;
    border: #000 solid 1px;
    position: relative;
    width: auto;

    display: inline-block;
    cursor: pointer;

}

.ui-icon{ display: block;   }
.ui-button .ui-icon{ position: absolute;}

.ui-dropbutton{ }
.ui-dropbutton .ui-button{ width: 100%;}
.ui-list{  list-style: none;   left: 0; width: 100%;}

.ui-list-item{background: #00f}
.ui-dropbutton-list-item .ui-button{display: block; }
.ui-dropbutton-scrollWrapper{ top:10%; bottom: 10%; }
