/*Basic css of slider*/
.iwp-ui-slider {
    display: block;
    position: relative;
    cursor: pointer;

}

/*If the slider has one or more labels, then it need put the labels to a container.*/
.iwp-ui-slider-wrapper {
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
}

/*default label of slider*/
.iwp-ui-slider-labels {
    overflow: hidden;
    height: 100%;
    position: relative;

}

/* the active label*/
.iwp-ui-slider-active {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: -8px;
}

/*the off label*/
.iwp-ui-slider-down {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

/*the slug of slider*/
.iwp-ui-slider-slug {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

/*chrome has a bug about border-radius, we have to fix it with two block mask it*/
.iwp-ui-slider-rd-r, .iwp-ui-slider-rd-l {

    width: 10px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    margin: 0;
}

.iwp-ui-slider-rd-r{
    border-radius: 0px 8px 8px 0px;
}

.iwp-ui-slider-rd-l{
    border-radius: 8px 0px 0px 8px;
}


/*Basic css of slider and switch done.*/


/*Checkbox */
.iwp-ui-checkbox{ position: relative; display: block;}
.iwp-ui-checkbox-icon {
    background: #fff;
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.iwp-ui-checkbox-icon-tick{
    border: 3px solid #000000;
    border-top: none;
    border-right: none;
    width: 55%;
    height: 25%;
    display: block;
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);

    position: absolute;
    top:25%;
    left: 20%;


}

.iwp-ui-checkbox-label{
    line-height: 1em;
    font-size: 2em;
    margin-left: 0.5em;
}

.iwp-ui-checkbox[class~="selected"] .iwp-ui-checkbox-icon-tick{visibility: hidden;opacity: 1;}
.iwp-ui-checkbox[class~="tap"] .iwp-ui-checkbox-icon-tick{visibility: visible; opacity: 0.5;}



