.button{
    background: #55aa99;
    border-radius: 8px;
    padding: 5px;
    color: #eeeeee;
    cursor:pointer;

}



.button[tap="short"]{
    background: #aaffaa;
    color: #ffffff;

}

.button[tap="long"]{
    background: #ff0000;
    color: #ffffff;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);

    zoom: 1.3;

    margin-left: -2px;
    margin-top: -2px;


}